.Box {
  background: #e7ffe3;
  border: 3px solid rgb(0, 137, 41);
  float: left;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  height: 100px;
  width: 100px;
}

.status {
  margin-bottom: 10px;
  font-size: 30px;
  color: green;
}
.game {
  display: flex;
  flex-direction: row;
}


